#title-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

#title-screen h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #e94560;
    font-size: 32px;
}
